pkgbase = nodejs-grunt
	pkgdesc = The JavaScript Task Runner
	pkgver = 1.0.4
	pkgrel = 1
	url = http://gruntjs.com/
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = grunt-1.0.4.tgz
	source = http://registry.npmjs.org/grunt/-/grunt-1.0.4.tgz
	sha1sums = c799883945a53a3d07622e0737c8f70bfe19eb38

pkgname = nodejs-grunt

