pkgbase = yourls-plugin-random-keywords-git
	pkgdesc = Assign random keywords to shorturls, like bitly.
	pkgver = r7.addccdb
	pkgrel = 1
	url = https://github.com/YOURLS/random-keywords
	arch = any
	license = MIT
	makedepends = git
	depends = yourls
	source = yourls-plugin-random-keywords-git::git+https://github.com/YOURLS/random-keywords.git
	md5sums = SKIP

pkgname = yourls-plugin-random-keywords-git

